.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  left: 69px;
  top: 96px;


}

.add-party {
  position: relative;
  left: 50px;

}